@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

login-bg{
  width: 600px;
  height: 600px;
  background: rebeccapurple;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 350px;
  height: 450px;
  background: #ad5389;
  border-radius: 10px;
  color: white;
  box-shadow: whitesmoke;
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #3c1053;
}

.txt_filed {
  box-sizing: border-box;
  padding: 10px 40px;
}

.txt_filed label {
  width: 100%;
}

.txt_filed span {
  display: inline;
  width: 100%;
  height: 1px;
  background-color: #ad5389;
}

.txt_filed input {
  width: 100%;
  padding: 0 5px;
  height: 35px;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 15px;
}

i.fa.fa-eye {
  position: absolute;
  margin-left: -20px;
  margin-top: 10px;
  cursor: pointer;

}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  margin-top: 10px;
  margin-left: -20px;
}

.bass {
  text-align: center;
  padding: 10px 0;
}

.press {
  position: relative;
  padding: 10px 40px;
}

.press button {
  width: 100%;
  background: #3c1053;
  color: white;
  border: none;
  border-radius: 20px;
  height: 35px;
  font-size: larger;
}

.press {
  text-align: center;
}

.press a {
  padding: 5px 0;
  text-decoration: none;
  color: #3c1053;
  font-size: larger;
  font-weight: 100;
}